{% extends "home/index.html" %}
{% load static %}
{% block coderhouse_project_content %}

<h2> Acerca de: </h2>
<h7>
    Ésta página es mi proyecto final del curso de Python de Coder House. <br>
    <br>
    Hola, soy Bruno Menna, un estudiante de Ingeniería Sistemas <br>
    que ha decidido desarrollarse en el lenguage de la programación con <br>
    el fin de adquirir nuevos conocimientos y mejorar mi desempeño en <br>
    el ámbito laboral.<br>
    Mis redes sociales:<br>
    <a class="btn btn-light bi-linkedin" style="color: rgb(60, 138, 255);" href="https://www.linkedin.com/in/bruno-menna-4b58b2204/"></a>
    <a class="btn btn-light bi-github" href="https://github.com/Bruno1224"></a>

</h7>

{% endblock %}